@charset "ISO-8859-1";
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
  }

thead {
    background-color: #f2f2f2;
}

tfoot td {
    font-weight: bold;
}

.checkout-button {
    display: block;
    width: 150px;
    margin: 1rem auto;
    background-color: #349AA3;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.checkout-button:hover {
   background-color: teal;
}
#titolo{
	text-align:center;
	
}

main {
    margin: 20px; /* Aggiungiamo uno spazio di 20px dai bordi della pagina */
}



.img-prodotto {
  width: 180px; /* Imposta la larghezza massima dell'immagine al 100% del contenitore */
  height: auto; /* Lascia che l'altezza sia ridimensionata proporzionalmente */
}

td:first-child {
    max-width: 100px; /* Imposta la larghezza massima desiderata */
    white-space: nowrap; /* Impedisce il wrapping del testo */
    overflow: hidden; /* Nasconde il testo oltre la larghezza massima */
    text-overflow: ellipsis; /* Mostra "..." se il testo è troncato */
  }
