@charset "ISO-8859-1";

section.novita-section{
	text-align:center;
}

h2#titolo {
    
    text-align: center;
    font-family: inherit;

}
    
    .novita-section {
        overflow: auto;
        margin-bottom:20px;
        margin-left:20px;
    }
    
.img{
	height: 250px; 
	object-fit: contain; 
	max-width: 100%;
	
}

.card-body {
  text-align: center;
}

.card-img-top {
  height: 300px;
  object-fit: contain;
  max-width: 100%;
}

.nome {
  margin-bottom: 0px;
  margin-top:-10px;
 font-weight: bold;
    font-size: 18px;
    font-family: none;
    color: black;
}
.prezzo{
	font-size: larger;
    font-weight: 500;
}

.btn-info {
  margin-top: 0px; /* Puoi regolare il valore del margine come preferisci */
}