@charset "ISO-8859-1";

section.novita-section{
	text-align:center;
}

h2#titolo {
    
    text-align: center;
    font-family: inherit;

}
    
    .novita-section {
        overflow: auto;
        margin-bottom:20px;
        margin-left:20px;
    }
    
.img{
	height: 250px; 
	object-fit: contain; 
	max-width: 100%;
	
}

.card-body {
  text-align: center;
}

.card-img-top {
  height: 300px;
  object-fit: contain;
  max-width: 100%;
}

.nome {
  margin-bottom: 0px;
  margin-top:-10px;
 font-weight: bold;
    font-size: 18px;
    font-family: none;
    color: black;
}
.prezzo{
	font-size: larger;
    font-weight: 500;
}

.btn-info {
  margin-top: 0px; /* Puoi regolare il valore del margine come preferisci */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Stile per il contenuto principale */
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #dedede;
}

.btn-cerca {
  background-color: teal;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cerca:hover {
  background-color: darkcyan;
}