@charset "ISO-8859-1";

.container {
  display: flex;
}

.left-div, .right-div {
  flex: 1;
  height: auto;
  background-color: lightgray;
  margin: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
}

