/* @charset "ISO-8859-1"; */

.container {
  display: flex;
}

.left-div, .right-div {
  flex: 1;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.right-div p{
	font-size: 20px;
}

.left-div img{
	width:500px;
	height:auto;
}


/*.left-div {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

a#icon{
	color: #fff; /* Colore delle icone */
  font-size: 30px;
  margin-left: 10px;
  text-decoration: none;
  
}

a#icon:hover{
	color: red;

}

/*.button_style{
	background-color:#349AA3;
	color:white;	
	border-radius: 24px;
	padding: 15px;
	
}

a.button_style:hover {
  cursor: pointer;
  
}
*/
.button_style,
.button_style:hover {
  background-color: #349AA3;
  color: white;
  border-radius: 24px;
  padding: 15px;
  cursor: pointer; /* Imposta il cursore su "manina" */
  text-decoration: none; /* Rimuove il sottolineato dei link */
}

