/* Stili per schermi più grandi di 768px */
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  
  .logo img {
    width: 200px;
  }
  
  .icons {
    justify-content: space-between;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
  }
}

/* Stili per schermi più piccoli di 768px */
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
  
  .logo img {
    width: 150px;
  }
  
  .icons {
    justify-content: center;
    margin-top: 10px;
  }
  
  .navigation {
    display: none;
  }
  
  .show {
    display: block;
    position: relative;
  }
  
  .dropdown-content {
    top: 0;
    left: 0;
  }
}
