@charset "ISO-8859-1";



.picture img {
   width: 100%;
   height: auto;
}

h2.Suggested {
    text-align: center;
    color: #fff;
}
  
div.suggeriti {
    padding: 15px;
    background-color: #349AA3;
    text-align: center;
   
}

.picture {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: -4px;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 240px;
    width: 600px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 55px;
    left: 100px; /* Aumenta il valore per spostare il testo pi� a destra */
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    padding-left: 50px;
}

.overlay span {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pt-5, .py-5 {
    padding-top:0px !important; 
}


@media screen and (max-width: 767px) {
  h2.Suggested {
    font-size: 20px;
    margin-top : 7px;
}

div.suggeriti {
    padding: 2px;
}
	.overlay {
    /* Posizione bloccata */
    position: absolute;
    width: 50%; /* Occupa tutta la larghezza disponibile */
    left: 0; /* Allineamento a sinistra */
    bottom: 0; /* Allineamento in basso */
    text-align: left; /* Centra il testo */
    padding: 20px; /* Riduce il padding */
    font-size: 20px; /* Riduce la dimensione del testo */
    margin-bottom: 30px;
    margin-left: 20px;
  }

}


@media screen and (min-width: 768px) and (max-width: 1278px) {
  .overlay {
    /* Posizione bloccata */
    position: absolute;
    width: 50%; /* Occupa tutta la larghezza disponibile */
    left: 0; /* Allineamento a sinistra */
    bottom: 0; /* Allineamento in basso */
    text-align: left; /* Centra il testo */
    padding: 20px; /* Riduce il padding */
    font-size: 30px; /* Riduce la dimensione del testo */
    margin-bottom: 30px;
    margin-left: 20px;
  }
}