@charset "ISO-8859-1";

.picture {
   display: block;
   justify-content: center;
   align-items: center;
   margin-bottom:-4px;
   
}

.picture img {
   width: 100%;
   height: auto;
}

h2.Suggested {
    text-align: center;
    color: #fff;
  }
  
div.suggeriti{
	background-color: #26838b;
	text-align: center;
    padding: 5px;
	
}