@charset "ISO-8859-1";

body {
   background-color: #26838b;
   color: white;
   font-family: Arial, sans-serif;
   text-align: center;
}

h2 {
   margin-top: 50px;
}

.login-section {
   background-color: white;
   color: black;
   padding: 40px;
   margin: 50px auto;
   width: 300px;
   border-radius: 5px;
}

.form-group {
   margin-bottom: 20px;
   text-align: left;
}

label {
   display: block;
}


input[type="email"],
input[type="password"] {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
}

button[type="submit"] {
   background-color: #26838b;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

button[type="submit"]:hover {
   background-color: #26838b;
}

#errorLogin{
	color: red;
}

section#homeIcons{
	text-align:left;
	margin-left:10px;
	font-size:50px;
}

section#homeIcons i{
	color:white;
}

@media screen and (max-width: 477px) {
	.login-section{
	width: 70%;
	}
	}