/* Stili esistenti rimangono inalterati... */
body {
  background-color: #26838b;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Imposta la larghezza massima del contenitore al 100% */
  margin: 50px 20px; /* Riduci il margine laterale del contenitore per centrarlo e rendere il layout più compatto */
  padding: 20px; /* Riduci il padding per una visualizzazione più compatta */
}

h1 {
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
}

button {
  width: 100%;
  padding: 8px;
    font-size: 16px;
  background-color: #26838b;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007580;
}

section#homeIcons{
	text-align:left;
	margin-left:10px;
	font-size:50px;
}

section#homeIcons i{
	color:white;
}



  .form-group label {
    font-size: 14px;
  }

form#regForm {
    margin-right: 30px;
}
  /* Continua con altre regole CSS per adattare il layout */
  /* in base alle esigenze specifiche del tuo design */
@media screen and (min-width: 817px) {
	.container {
    max-width: 40%;
    margin: auto;
    padding: 20px;
}
}