@charset "ISO-8859-1";

section.novita-section{
	text-align:center;
}


    
    .novita-section {
        overflow: auto;
        margin-bottom:20px;
        margin-left:20px;
    }
    
.img{
	height: 250px; 
	object-fit: contain; 
	max-width: 100%;
	
}

.nome{
	
margin-top: 10px;
margin-bottom: 5px;	
}

