@charset "ISO-8859-1";

/* VisualizzaOrdiniUtente.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height:100%
}

section.visualizzaOrdiniUser {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: #26838b;
}

table.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td#prodCod{
	font-weight: bold;
}

table.table th,
table.table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table.table thead {
  background-color: #26838b;
  color: #fff;
}

table.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
  text-align: center;
}

table.table caption {
  caption-side: top;
  font-weight: bold;
  color: #26838b;
  margin-bottom: 10px;
}

/* Aggiungi stile ai link */
a {
  color: #26838b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


  @media (max-width: 767px) {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
  }

  thead {
    display:none;
  }

  tfoot td {
    font-weight: bold;
  }


  /* Mostra i dati della tabella come righe affiancate */
  tr {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 0.625rem; /* Spaziatura tra le righe */
  }

  /* Assicurati che le celle mantengano il loro spazio */
  td {
    display: block;
    text-align: center; 
  }

  /* Nascondi le intestazioni delle colonne per mantenere il layout pulito */
  th {
    display: none;
  }

  /* Aggiungi un'etichetta per identificare i dati nelle colonne */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

}

